/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px
}

/* Custom styles for Completed panel header of p-panel PrimeNG component */
.completed-panel .p-panel-header {
  background-color: #66b672 !important;
}

.pending-panel .p-panel-header {
  background-color: #7589c9 !important;
}

.my-task-panel {
  background-color: #d6d6d6 !important;
}


/* Ensure toast appears above all other elements */
:host ::ng-deep .p-toast {
  z-index: 1000;
}

/* Override Lara theme background for main app container with gradient only */
body,
.app-background {
  background-image: linear-gradient(135deg, #2a717a 0%, #b2ebf2 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; /* Ensure background covers at least the viewport height */
  min-width: 80vw;  /* Ensure background covers at least the viewport width */
}

.no-wrap-label .p-button-label {
    white-space: nowrap;
}

.important-pie-chart canvas {
  background: #fff !important;
  border-radius: 1rem !important;
  box-shadow: 0 2px 12px rgba(0,188,212,0.10) !important;
}